/* styles.css */
body {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color:rgb(120, 167, 208);
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 14px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  